# Frontend Environment Variables
# Copy this file to .env and fill in your values

# API URL - Point to your backen1
#REACT_APP_API_URL=http://localhost:5001/api

# Production example:
REACT_APP_API_URL=https://felicity-backend-55fy.onrender.com/api
